<table id="ferien_long_panel_table_58aa113c7df52">
  <thead>

    <tr>
              <th class="appointment_grid_monat_title" colspan="31">Juli 2015</th>
          </tr>

    <tr>
                <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
            </tr>
    <tr>
                <th class="ag_tagnummer ">01</th>
                  <th class="ag_tagnummer ">02</th>
                  <th class="ag_tagnummer ">03</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">04</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">05</th>
                  <th class="ag_tagnummer ">06</th>
                  <th class="ag_tagnummer ">07</th>
                  <th class="ag_tagnummer ">08</th>
                  <th class="ag_tagnummer ">09</th>
                  <th class="ag_tagnummer ">10</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">11</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">12</th>
                  <th class="ag_tagnummer ">13</th>
                  <th class="ag_tagnummer ">14</th>
                  <th class="ag_tagnummer ">15</th>
                  <th class="ag_tagnummer ">16</th>
                  <th class="ag_tagnummer ">17</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">18</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">19</th>
                  <th class="ag_tagnummer ">20</th>
                  <th class="ag_tagnummer ">21</th>
                  <th class="ag_tagnummer ">22</th>
                  <th class="ag_tagnummer ">23</th>
                  <th class="ag_tagnummer ">24</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">25</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">26</th>
                  <th class="ag_tagnummer ">27</th>
                  <th class="ag_tagnummer ">28</th>
                  <th class="ag_tagnummer ">29</th>
                  <th class="ag_tagnummer ">30</th>
                  <th class="ag_tagnummer ">31</th>
            </tr>
  </thead>
  <tbody>
        <tr class="odd">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;30.07.2015 - 12.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;30.07.2015 - 12.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;16.07.2015 - 28.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;23.07.2015 - 02.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2015 - 11.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.07.2015 - 04.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;27.07.2015 - 05.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;27.07.2015 - 05.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;27.07.2015 - 05.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;27.07.2015 - 05.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;27.07.2015 - 05.09.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;13.07.2015 - 26.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;20.07.2015 - 29.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2015&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;13.07.2015 - 21.08.2015" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
        </tbody>
</table>