<table id="ferien_long_panel_table_58aa0f2d3fae8">
  <thead>

    <tr>
              <th class="appointment_grid_monat_title" colspan="31">Oktober 1972</th>
          </tr>

    <tr>
                <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
            </tr>
    <tr>
                <th class="ag_tagnummer appointment_grid_sonntag_head">01</th>
                  <th class="ag_tagnummer ">02</th>
                  <th class="ag_tagnummer ">03</th>
                  <th class="ag_tagnummer ">04</th>
                  <th class="ag_tagnummer ">05</th>
                  <th class="ag_tagnummer ">06</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">07</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">08</th>
                  <th class="ag_tagnummer ">09</th>
                  <th class="ag_tagnummer ">10</th>
                  <th class="ag_tagnummer ">11</th>
                  <th class="ag_tagnummer ">12</th>
                  <th class="ag_tagnummer ">13</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">14</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">15</th>
                  <th class="ag_tagnummer ">16</th>
                  <th class="ag_tagnummer ">17</th>
                  <th class="ag_tagnummer ">18</th>
                  <th class="ag_tagnummer ">19</th>
                  <th class="ag_tagnummer ">20</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">21</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">22</th>
                  <th class="ag_tagnummer ">23</th>
                  <th class="ag_tagnummer ">24</th>
                  <th class="ag_tagnummer ">25</th>
                  <th class="ag_tagnummer ">26</th>
                  <th class="ag_tagnummer ">27</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">28</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">29</th>
                  <th class="ag_tagnummer ">30</th>
                  <th class="ag_tagnummer ">31</th>
            </tr>
  </thead>
  <tbody>
        <tr class="odd">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;30.10.1972 - 04.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;30.10.1972 - 04.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Reformationstag&lt;/b&gt;&lt;br&gt;31.10.1972&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;23.10.1972 - 01.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.10.1972 - 21.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.10.1972 - 21.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.10.1972 - 21.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.10.1972 - 21.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.10.1972 - 21.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;16.10.1972 - 21.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Reformationstag&lt;/b&gt;&lt;br&gt;31.10.1972&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;28.10.1972 - 04.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;28.10.1972 - 04.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;28.10.1972 - 04.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;28.10.1972 - 04.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;09.10.1972 - 14.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;09.10.1972 - 14.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;09.10.1972 - 14.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;09.10.1972 - 14.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;09.10.1972 - 14.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;09.10.1972 - 14.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.10.1972 - 02.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.10.1972 - 02.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.10.1972 - 02.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.10.1972 - 02.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;27.10.1972 - 02.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;30.10.1972 - 04.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;30.10.1972 - 04.11.1972" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Reformationstag&lt;/b&gt;&lt;br&gt;31.10.1972&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Reformationstag&lt;/b&gt;&lt;br&gt;31.10.1972&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;16.10.1972 - 24.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;16.10.1972 - 24.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;16.10.1972 - 24.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;16.10.1972 - 24.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;16.10.1972 - 24.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;16.10.1972 - 24.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;16.10.1972 - 24.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;16.10.1972 - 24.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Herbstferien 1972&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;16.10.1972 - 24.10.1972" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Reformationstag&lt;/b&gt;&lt;br&gt;31.10.1972&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
        </tbody>
</table>