<table id="ferien_long_panel_table_58a99d1ebbd72">
  <thead>

    <tr>
              <th class="appointment_grid_monat_title" colspan="30">Juni 2020</th>
          </tr>

    <tr>
                <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
            </tr>
    <tr>
                <th class="ag_tagnummer ">01</th>
                  <th class="ag_tagnummer ">02</th>
                  <th class="ag_tagnummer ">03</th>
                  <th class="ag_tagnummer ">04</th>
                  <th class="ag_tagnummer ">05</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">06</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">07</th>
                  <th class="ag_tagnummer ">08</th>
                  <th class="ag_tagnummer ">09</th>
                  <th class="ag_tagnummer ">10</th>
                  <th class="ag_tagnummer ">11</th>
                  <th class="ag_tagnummer ">12</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">13</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">14</th>
                  <th class="ag_tagnummer ">15</th>
                  <th class="ag_tagnummer ">16</th>
                  <th class="ag_tagnummer ">17</th>
                  <th class="ag_tagnummer ">18</th>
                  <th class="ag_tagnummer ">19</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">20</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">21</th>
                  <th class="ag_tagnummer ">22</th>
                  <th class="ag_tagnummer ">23</th>
                  <th class="ag_tagnummer ">24</th>
                  <th class="ag_tagnummer ">25</th>
                  <th class="ag_tagnummer ">26</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">27</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">28</th>
                  <th class="ag_tagnummer ">29</th>
                  <th class="ag_tagnummer ">30</th>
            </tr>
  </thead>
  <tbody>
        <tr class="odd">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien feiertag"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020&lt;br&gt;&lt;br&gt;&lt;b&gt;Fronleichnam&lt;/b&gt;&lt;br&gt;11.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien feiertag"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020&lt;br&gt;&lt;br&gt;&lt;b&gt;Fronleichnam&lt;/b&gt;&lt;br&gt;11.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;02.06.2020 - 13.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.06.2020 - 07.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.06.2020 - 07.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.06.2020 - 07.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.06.2020 - 07.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.06.2020 - 07.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;25.06.2020 - 07.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;25.06.2020 - 08.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;25.06.2020 - 08.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;25.06.2020 - 08.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;25.06.2020 - 08.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;25.06.2020 - 08.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;25.06.2020 - 08.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;22.05.2020/02.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;25.06.2020 - 05.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;25.06.2020 - 05.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;25.06.2020 - 05.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;25.06.2020 - 05.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;25.06.2020 - 05.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;25.06.2020 - 05.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Fronleichnam&lt;/b&gt;&lt;br&gt;11.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien feiertag"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.05.2020/29.05.2020 - 02.06.2020&lt;br&gt;&lt;br&gt;&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.05.2020/29.05.2020 - 02.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.06.2020 - 01.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.06.2020 - 01.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.06.2020 - 01.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.06.2020 - 01.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.06.2020 - 01.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.06.2020 - 01.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.06.2020 - 01.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.06.2020 - 01.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;22.06.2020 - 01.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;22.05.2020/02.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Pfingstferien 2020&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;02.06.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Fronleichnam&lt;/b&gt;&lt;br&gt;11.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2020 - 11.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;29.06.2020 - 11.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Fronleichnam&lt;/b&gt;&lt;br&gt;11.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Fronleichnam&lt;/b&gt;&lt;br&gt;11.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;29.06.2020 - 08.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2020&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;29.06.2020 - 08.08.2020" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Pfingstmontag&lt;/b&gt;&lt;br&gt;01.06.2020&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
        </tbody>
</table>