<table id="ferien_long_panel_table_58a8d28117055">
  <thead>

    <tr>
              <th class="appointment_grid_monat_title" colspan="31">August 2017</th>
          </tr>

    <tr>
                <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
            </tr>
    <tr>
                <th class="ag_tagnummer ">01</th>
                  <th class="ag_tagnummer ">02</th>
                  <th class="ag_tagnummer ">03</th>
                  <th class="ag_tagnummer ">04</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">05</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">06</th>
                  <th class="ag_tagnummer ">07</th>
                  <th class="ag_tagnummer ">08</th>
                  <th class="ag_tagnummer ">09</th>
                  <th class="ag_tagnummer ">10</th>
                  <th class="ag_tagnummer ">11</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">12</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">13</th>
                  <th class="ag_tagnummer ">14</th>
                  <th class="ag_tagnummer ">15</th>
                  <th class="ag_tagnummer ">16</th>
                  <th class="ag_tagnummer ">17</th>
                  <th class="ag_tagnummer ">18</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">19</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">20</th>
                  <th class="ag_tagnummer ">21</th>
                  <th class="ag_tagnummer ">22</th>
                  <th class="ag_tagnummer ">23</th>
                  <th class="ag_tagnummer ">24</th>
                  <th class="ag_tagnummer ">25</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">26</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">27</th>
                  <th class="ag_tagnummer ">28</th>
                  <th class="ag_tagnummer ">29</th>
                  <th class="ag_tagnummer ">30</th>
                  <th class="ag_tagnummer ">31</th>
            </tr>
  </thead>
  <tbody>
        <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;27.07.2017 - 09.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien feiertag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017&lt;br&gt;&lt;br&gt;&lt;b&gt;Mari&amp;auml; Himmelfahrt&lt;/b&gt;&lt;br&gt;15.08.2017&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;29.07.2017 - 11.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;20.07.2017 - 01.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;22.06.2017 - 02.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;22.06.2017 - 02.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;20.07.2017 - 30.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;22.06.2017 - 02.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;22.06.2017 - 02.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;17.07.2017 - 29.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Rheinland-Pfalz&lt;br&gt;03.07.2017 - 11.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Saarland&lt;br&gt;03.07.2017 - 14.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Mari&amp;auml; Himmelfahrt&lt;/b&gt;&lt;br&gt;15.08.2017&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;26.06.2017 - 04.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;26.06.2017 - 04.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;26.06.2017 - 04.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;26.06.2017 - 04.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;24.07.2017 - 02.09.2017" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 2017&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;26.06.2017 - 09.08.2017" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                </tr>
        </tbody>
</table>