<table id="ferien_long_panel_table_58aa10085fb73">
  <thead>

    <tr>
              <th class="appointment_grid_monat_title" colspan="31">August 1991</th>
          </tr>

    <tr>
                <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
                  <th><div class="ag_tagname appointment_grid_sonntag_head">So</div></th>
                  <th><div class="ag_tagname ">Mo</div></th>
                  <th><div class="ag_tagname ">Di</div></th>
                  <th><div class="ag_tagname ">Mi</div></th>
                  <th><div class="ag_tagname ">Do</div></th>
                  <th><div class="ag_tagname ">Fr</div></th>
                  <th><div class="ag_tagname appointment_grid_samstag_head">Sa</div></th>
            </tr>
    <tr>
                <th class="ag_tagnummer ">01</th>
                  <th class="ag_tagnummer ">02</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">03</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">04</th>
                  <th class="ag_tagnummer ">05</th>
                  <th class="ag_tagnummer ">06</th>
                  <th class="ag_tagnummer ">07</th>
                  <th class="ag_tagnummer ">08</th>
                  <th class="ag_tagnummer ">09</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">10</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">11</th>
                  <th class="ag_tagnummer ">12</th>
                  <th class="ag_tagnummer ">13</th>
                  <th class="ag_tagnummer ">14</th>
                  <th class="ag_tagnummer ">15</th>
                  <th class="ag_tagnummer ">16</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">17</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">18</th>
                  <th class="ag_tagnummer ">19</th>
                  <th class="ag_tagnummer ">20</th>
                  <th class="ag_tagnummer ">21</th>
                  <th class="ag_tagnummer ">22</th>
                  <th class="ag_tagnummer ">23</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">24</th>
                  <th class="ag_tagnummer appointment_grid_sonntag_head">25</th>
                  <th class="ag_tagnummer ">26</th>
                  <th class="ag_tagnummer ">27</th>
                  <th class="ag_tagnummer ">28</th>
                  <th class="ag_tagnummer ">29</th>
                  <th class="ag_tagnummer ">30</th>
                  <th class="ag_tagnummer appointment_grid_samstag_head">31</th>
            </tr>
  </thead>
  <tbody>
        <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Baden-Württemberg&lt;br&gt;11.07.1991 - 24.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien feiertag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991&lt;br&gt;&lt;br&gt;&lt;b&gt;Mari&amp;auml; Himmelfahrt&lt;/b&gt;&lt;br&gt;15.08.1991&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bayern&lt;br&gt;25.07.1991 - 09.09.1991" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Berlin&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Brandenburg&lt;br&gt;04.07.1991 - 21.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Bremen&lt;br&gt;04.07.1991 - 17.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hamburg&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Hessen&lt;br&gt;01.07.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Mecklenburg-Vorpommern&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Niedersachsen&lt;br&gt;04.07.1991 - 14.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Nordrhein-Westfalen&lt;br&gt;18.07.1991 - 31.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  feiertag"  data-tip-text="&lt;b&gt;Mari&amp;auml; Himmelfahrt&lt;/b&gt;&lt;br&gt;15.08.1991&lt;br /&gt;
" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen&lt;br&gt;08.07.1991 - 23.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Sachsen-Anhalt&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="odd">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Schleswig-Holstein&lt;br&gt;28.06.1991 - 10.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                      <td class="ag_tag  ag_sonntag" >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag " >&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
            <tr class="even">
                    <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_samstag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien ag_sonntag"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag ferien"  data-tip-text="&lt;b&gt;Sommerferien 1991&lt;/b&gt;&lt;br&gt;Thüringen&lt;br&gt;15.07.1991 - 30.08.1991" data-tip-class="ag_tip">&nbsp;</td>
                      <td class="ag_tag  ag_samstag" >&nbsp;</td>
                </tr>
        </tbody>
</table>